@import 'variables';

header {
  display: flex;
  min-height: 20vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

@each $type in $types {
  .#{$type},
  .#{$type} input {
    @include type-colors($type);
  }
  .#{$type} {
    border-bottom: 3px solid darken(get-type-color($type), 30%);
  }
  .#{type} input::-webkit-placeholder {
    @include type-colors($type);
  }
}

input {
  background: none;
  font-size: $title-font-size;
  border: none;
  text-align: center;
  margin-top: -1.5rem;
  outline-style: none;
}
input::placeholder {
  font-size: $title-font-size;
  text-align: center;
}