@import 'variables';

.selected-types {
  display: flex;
  min-height: 8vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  
  background-color: beige;
  color: darken(beige, 50%);
}
.waiting {
  font-size: $subtitle-font-size;
}
.type-button {
  padding: 2rem;
  margin: 0 2rem;
  font-size: 2rem;
  flex-basis: 45%;
  text-align: center;
  position: relative;
  .cancel {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 900px) {
  .type-button {
    padding: 2.5rem;
    margin: 0 2.5rem;
    font-size: 2.5rem;
    flex-basis: 25%;
  }
}

@each $type in $types {
  .#{$type}.type-button {
    color: get-type-color($type, true);
    border-bottom: 3px solid darken(get-type-color($type), 30%);
    box-sizing: border-box;
    .cancel {
      &:hover {
        background-color: get-type-color($type, true);
        color: get-type-color($type);
      }
    }
  }
}