/* Colors, courtesy of epidemicjohto.com */

$types: normal fire water electric grass ice fighting poison ground flying psychic bug rock ghost dragon dark steel fairy;

$normal: #f6e9ca;
$fire: #ee8130;
$water: #6390f0;
$electric: #f7d02c;
$grass: #7ac74c;
$ice: #96d9d6;
$fighting: #c22e28;
$poison: #a33ea1;
$ground: #e2bf65;
$flying: #a98ff3;
$psychic: #f95587;
$bug: #a6b91a;
$rock: #b6a136;
$ghost: #735797;
$dragon: #6f35fc;
$dark: #705746;
$steel: #b7b7ce;
$fairy: #d685ad;

@function generate-font-color($background-color) {
  @if lightness($background-color) >= 50 {
    @return darken($background-color, 25%);
  } @else {
    @return lighten($background-color, 25%);
  }
}

/* Sizes */
$title-font-size: 6rem;
$subtitle-font-size: 4rem;

@mixin type-colors($type) {
  background-color: get-type-color($type);
  color: get-type-color($type, true);
}
@function get-type-color($type, $isFont:false) {
  @if $type == 'normal' {
    @return if($isFont, generate-font-color($normal), $normal);
  } @elseif $type == 'fire' {
    @return if($isFont, generate-font-color($fire), $fire);
  } @elseif $type == 'water' {
    @return if($isFont, generate-font-color($water), $water);
  } @elseif $type == 'electric' {
    @return if($isFont, generate-font-color($electric), $electric);
  } @elseif $type == 'grass' {
    @return if($isFont, generate-font-color($grass), $grass);
  } @elseif $type == 'ice' {
    @return if($isFont, generate-font-color($ice), $ice);
  } @elseif $type == 'fighting' {
    @return if($isFont, generate-font-color($fighting), $fighting);
  } @elseif $type == 'poison' {
    @return if($isFont, generate-font-color($poison), $poison);
  } @elseif $type == 'ground' {
    @return if($isFont, generate-font-color($ground), $ground);
  } @elseif $type == 'flying' {
    @return if($isFont, generate-font-color($flying), $flying);
  } @elseif $type == 'psychic' {
    @return if($isFont, generate-font-color($psychic), $psychic);
  } @elseif $type == 'bug' {
    @return if($isFont, generate-font-color($bug), $bug);
  } @elseif $type == 'rock' {
    @return if($isFont, generate-font-color($rock), $rock);
  } @elseif $type == 'ghost' {
    @return if($isFont, generate-font-color($ghost), $ghost);
  } @elseif $type == 'dragon' {
    @return if($isFont, generate-font-color($dragon), $dragon);
  } @elseif $type == 'dark' {
    @return if($isFont, generate-font-color($dark), $dark);
  } @elseif $type == 'steel' {
    @return if($isFont, generate-font-color($steel), $steel);
  } @elseif $type == 'fairy' {
    @return if($isFont, generate-font-color($fairy), $fairy);
  } @else {
    @warn "We didn't receive a valid type. (Received: #{$type}.)";
    @return if($isFont, generate-font-color($normal), $normal);
  }
}